<div class="card shadow-sm">
    
    <img src="https://assets.rbl.ms/27044748/origin.jpg" alt="https://assets.rbl.ms/27044748/origin.jpg" class="shrinkToFit" width="100%" height="225">
    <div class="card-body">
        <p class="card-text">
            <strong>{{ 50000 | currency: 'INR' }}</strong>
        </p>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
        </div>
        
      </div>
    </div>
    